<div class="card col-8 mx-auto border-warning my-3">
  <%= image_tag @post.image.thumb.url, :style => "padding-top: 15px" %>
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %> BY <%= @post.user.nickname %></h5>
    <p class="card-text"><%= @post.content %></p>
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to "編集", edit_post_path(@post.id), method: :get, class: 'btn btn-warning' %></li>
      <%= link_to "削除", "/posts/#{@post.id}", method: :delete, class: 'btn btn-warning' %></li>
    <% end %>
  </div>
</div>
